input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    width: 25rem;
    height: 50%;
    bottom: 10px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 25px #888888;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#969696+0,cecece+50,969696+100 */
background: #969696; /* Old browsers */
background: -moz-linear-gradient(-45deg, #969696 0%, #cecece 50%, #969696 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #969696 0%,#cecece 50%,#969696 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #969696 0%,#cecece 50%,#969696 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#969696',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
