body {
  background-image: url("Images/172.jpg");
}
.faint-cyan {
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-radius: 25px;
  border-width: 1px;
  width: 75rem;
  box-shadow: 1rem 1rem 25px #888888;
  }
  .image-border {
    background-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-radius: 2rem;
    border-width: 1px;
    width: 41rem;
    height: 36rem;
    box-shadow: 1rem 1rem 25px #888888;
    }
  .footer {
      position:fixed;bottom:0;

      width:100%;
      display:block;
  }
  .side-image {
    position: fixed;
    margin-right: 1rem;
    margin-bottom: 1rem;
    bottom: 1rem;
    right: 1rem;
    display: block;
    /*-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);*/
    }
    .round-corners {
    border-radius: 2rem;
    margin-top: -10px;
    }
  }
