
body {
  background-color:black !important;
  background-image: url("Images/172.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0;
}
.scrolling-text {
  margin-left: 10%;
  display: inline-block;
}
.outliner {
  text-shadow:
-1px -1px 1rem #77f2ff,
 1px -1px 1rem #77f2ff,
-1px 1px 1rem #77f2ff,
 1px 1px 1rem #77f2ff;
 color: #ffcaf5 !important;
 font-weight: bold !important;
}
.topnav {
  margin-top: 1rem;
  border-radius: 1rem;
  width: 99%;
  overflow: hidden;
  background-color: #1c8294;
  box-shadow: 1rem 1rem 25px #888888;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
}

.faint-cyan {
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-radius: 25px;
  border-width: 1px;
  width: 75rem;
  height: 10%;
  box-shadow: 1rem 1rem 25px #888888;
}
.contact-me {
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-radius: 25px;
  border-width: 1px;
  width: 10%;
  height: 5.5%;
  padding-top: 1%;
  box-shadow: 1rem 1rem 25px #888888;
}

.border-left {
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-radius: 2rem;
  border-width: 1px;
  display: inline-block;
  width: 20%;
  box-shadow: 1rem 1rem 25px #888888;
}

.image-left {
  border-radius: 2rem;
  width: 80%;
  margin-top: 0.1rem;
}

.border-middle {
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-radius: 2rem;
  border-width: 1px;
  display: inline-block;
  width: 20%;
  box-shadow: 1rem 1rem 25px #888888;
  margin-left: 2%;
  margin-right: 2%;
}

.image-middle {
  border-radius: 2rem;
  width: 77%;
  margin-top: 0.1rem;
}

.border-right {
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-radius: 2rem;
  border-width: 1px;
  display: inline-block;
  width: 20%;
  box-shadow: 1rem 1rem 25px #888888;
}

.image-right {
  border-radius: 2rem;
  width: 90%;
  margin-top: 0.1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
}

.side-image {
  position: fixed;
  margin-right: 1rem;
  margin-bottom: 1rem;
  bottom: 1rem;
  right: 1rem;
  webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.music {
  position: fixed;
  margin-right: 1rem;
  margin-bottom: 1rem;
  bottom: 3rem;
  right: 41%;
}

.icon-left {
   display: inline-block;
}
.icon-middle {
   display: inline-block;
   margin-left: 5%;
   margin-right: 5%;
}
.icon-right {
   display: inline-block;
}
.popupcontact {
  position: fixed;
  margin-right: 1rem;
  margin-bottom: 1rem;
  bottom: 3rem;
  left: 5%;
}
.blue-gradiant {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#abb6cc+0,ffffff+50,b9c0cc+100 */
background: #abb6cc; /* Old browsers */
background: -moz-linear-gradient(-45deg, #abb6cc 0%, #ffffff 50%, #b9c0cc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #abb6cc 0%,#ffffff 50%,#b9c0cc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #abb6cc 0%,#ffffff 50%,#b9c0cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abb6cc', endColorstr='#b9c0cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
